html, body {
  height: 100%;
}

#page-viewport {
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
}

#content-viewport {
  flex-grow: 1;
  min-height: 0;
  overflow-y: visible;
}

#content-viewport .row {
  height: 100%;
}

.col-viewport {
  overflow-y: hidden;
  height: 100%;
  padding-right: 15px;
}

.col-viewport:hover {
  overflow-y: auto;
}